
html,
body {
  height: 100%;
  width: 100vw;
    height: 100vh;
    overflow-x:hidden;
}

#page-content {
  flex: 1 0 auto;
}


#top{
    background: transparent linear-gradient(0deg, var(#fff) 0%, rgba(154,238,229,0.5) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(0deg, #fff 0%, rgba(154,238,229,0.5) 100%) 0% 0% no-repeat padding-box;

}
img{
    opacity: 2;
}

.top1{
  opacity: 0.5;
}

.lab{
    font-size: 25px;
    color:black;
}

.head{
    font-size: 20px;
    font-weight: 200;
}

.i{
    width:20px;
    margin-right: 10px;;
}
.i2{
    width:60px;
    margin-right: 10px;;
}

#foot1 {
    background-color: #505E83;
}
#ss{
    color: white;
}
#ss2{
    font-weight: 900;
}
#sticky-footer{
    background-color: #465274;
}

/* Other Classes for Page Styling */

body {
  /* background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF); */
}

ul{
    list-style: none;
    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}
.sa li{
    display: list-item;
    text-align:left;
    width: 70%;
    padding: 7px;
    margin-top: 5px;
    background-color: rgba(108, 94, 233, 0.3) ;
    border-radius: 25px;

 
}